.header {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.header-logo {
    float: left;
    color: #242424;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.header-icon {
    margin-top: 50px;
    margin-bottom: 35px;
    margin-right: 0.5rem;
    width: 180px;
    color: #242424;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
}

.nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid #f00946;
}

.nav-links {
    color: #3B3B3B;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.fa-bars {
    color: #3B3B3B;
}

.menu-icon {
    display: none;
}

  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    max-width: fit-content;
  }

  .header__center > button:hover{
    box-shadow: 0 8px 6px -6px rgb(228, 228, 228);
    cursor: pointer;
 }
  

  .searchForTutor {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 1vw;
    padding-left: 1.5vw;
    font-size: 13px;
    border-radius: 42px;
    display: inline-flex;
    align-items: center; 
    vertical-align:middle;
    background-color: #ffffff;
    border: 1px solid lightgray;
  }

  .searchForTutor > p {
    margin-right: 1.5vw;
  }

  .searchForTutor > button {
    border: none;
    outline: none;
    cursor:  pointer;
    padding-top: 0.5vw;
    padding-bottom: 0.2vw;
    padding-left: 0.6vw;
    padding-right: 0.5vw;
    background-color: #2EC5CE;
    border-radius: 300px;
  }

/* .search-bar input[type=text] {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 15px;
    border: 1px solid transparent;
    margin-top: 27px;
    margin-bottom: 15px;
    margin-right: 4rem;
    position: relative;
    left: 30px;
    outline: none;
}

.search-button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
} */

.profile-box {
    margin-top: 14px;
    height: 63px;
    width: 271px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    border-radius: 25px;
    margin-left: 456px;
    box-shadow: 0px 4px 20px 1px #e7e7e7;
}

.notification-bell {
    margin: 14px;
    margin-left: 26px;
}

.userName {
    font-size: 16px;
    margin-left: 98px;
    margin-top: -53px;
    color: #263238;
    font-weight: lighter;
    outline: none;
}

.userType {
    font-size: 13px;
    margin-left: 126px;
    margin-top: 1px;
    color: #B9B9C3;
    font-weight: lighter;
    outline: none;
}

.userProfilePic {
    margin-top: -71px;
    margin-left: 186px;
    height: 56px;
}


@media screen and (max-width: 960px) {
    .HeaderItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #1E9097;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #1E9097;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        border: none;
    }

    .nav-item {
        width: 100%;
    }

    .header-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }

    .search-bar:hover {
        border: none;
    }

}