@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

#login-function > h3 {
    margin-top: 4vw;
    font-size: 20px;
    font-weight: bold;
    color: #1E9097;
}
#login-function >p {
    font-size: 14px;
    margin-top: 1vw;
    color: #333333;
}
#footer-login {
    margin-top: 4vw;
    background: #f6f6f6;
    padding: 20px 0;
    text-align: center;
}


 #redirect >a {
    text-align: center;
    margin: 0 auto;
    color: #7a7a7a;
}

#forgot >a {
    text-align: center;
    margin: 0 auto;
    color: #1E9097;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

