:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .btn--primary {
    background-color: #2EC5CE;
    color: #ffffff;
    border: 1px solid #2EC5CE;
  }
  
  .btn--outline {
    background-color: transparent;
    color: #3B3B3B;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 42px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 42px;
  }
  
  .btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  
  .btn--wide {
    padding: 12px 64px;
    font-size: 20px;
    border-radius: 42px;
  }

  .btn--outline:hover {
    transition: all 0.3s ease-out;
    background: #ffffff;
    border: 1px solid #3B3B3B;
    color: #3B3B3B;
  }
  
  .btn--large:hover,
  .btn--medium:hover,
  .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #1E9097;
    border: 1px solid #1E9097;
    color: #ffffff;
  }
  
  .btn--wide:hover {
    color: #fff;
    background-color: #1E9097;
    border: 1px solid #1E9097;
    transition: all 0.2s ease-out;
  }
  
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
  }
  
  .orange {
    background-color: #FE9A22;
    color: #fff;
    border: none;
  }
  
  .grey {
    background-color: #828282;
    color: #fff;
    border: none;
  }

  .lightgrey {
    background-color: #F4F5F7;
    color: #fff;
    border: none;
  }
  
  .primary {
    background-color: #3B3B3B;
    color: #fff;
    border: none;
  }
  
  .primary:hover {
    background-color: #fff;
    color: #242424;
    border: none;
  }
  
  .green {
    background: #2EC5CE;
    color: #fff;
    border: none;
  }

  .darkgreen {
    background: #1E9097;
    color: #fff;
    border: none;
  }
  
  .green:hover {
    background-color: #242424;
  }

  