.form-container {
    margin: 40px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
  }
  
  .form-content-left {
    background-color:#E6FDFD ; 
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
  .form-img {
    width: 70%;
    height: 47%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
    width: 60%;
    height: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  
  .form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background-color: #ffffff;
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form h1 {
    font-size: 40px;
    text-align: start;
    width: 80%;
    margin-bottom: 0.5rem;
    color: #1E9097;
  }
  
  .form h2 {
    font-size: 13px;
    text-align: start;
    width: 80%;
    margin-bottom: 2rem;
    color: #333333;
  }

  .form h2 a{
    font-size: 15px;
    text-align: start;
    width: 80%;
    margin-bottom: 0.5rem;
    color: #FE9A22;
  }

  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: #FE9A22;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #333333;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    background-color: #ffffff;
    border: 0.8px solid #D1D1D1;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    
  }

  
  
  .form-input::placeholder {
    color: #D1D1D1;
    font-size: 12px;
  }
  
  .form-input-btn {
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 42px;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    background-color: #2EC5CE;
    color: #ffffff;
    border: 1px solid #2EC5CE;
    outline: none;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background-color: #1E9097;
    border: 1px solid #1E9097;
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 30px;
    color: #333333;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #1E9097;
    font-weight: 600;
  }

  label {
    font-size: 0.8rem;
    display: block;
    color: #333333;
  }
  
  .floatBlock {
    margin: 0 1.81em 0 0;
  }
  
  
  .accountType {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    break-before: always;
    margin-bottom: 1rem;
  }
  
 