body, html {
    font-family: 'Manrope', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: black;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
}

.title-box {
    margin-left: 10vw;
    height: 15vw;
    width: 29vw;
    margin-bottom: -7vw;
}

.teacher-name {
    color: #42505C;
    font-weight: bold;
    font-size: 1.4vw;
    margin-top: 1.5vw;
}

.hourly-rate-box {
    height: 100px;
    background-color: #dadada;
    border-radius: 25px;
    display: flex;
    /* box-shadow: 0px 4px 50px 5px #e7e7e7; */
    width: 22vw;
    margin: 2vw 0vw 0vw 0vw;
}

.hourly-rate {
    font-size: 1.5vw;
    color: #455A64;
    margin: 0.5vw 10vw 0vw 6.3vw;
}

.hourly-wage {
    font-size: 2.5vw;
    color: #455A64;
    margin: 2.5vw 0vw -1vw -23vw;
}

.match-button-wrapper {
    margin: -7vw 0vw 0vw 29vw;
}

.message-button-wrapper {
    margin: 1vw 0vw 0vw 31vw
}

.introduction-box {
    margin: 1vw 3vw 0vw 3vw;
    text-align: left;
}

.introduction-title {
    margin-top: 0.4vw;
    color: #42505C;
    font-weight: lighter;
    font-size: 0.5vw;
}

.introduction {
    margin-top: 0.4vw;
    color: #42505C;
    font-weight: lighter;
    font-size: 0.5vw;
}

@media screen and (max-width: 1000px) {
    .img {
        margin: 0vw 0vw 0vw 10vw;
        width: 19%;
        float: left;
    }
    .teacher-name, .teacher-address {
        margin: 2vw 0vw 0vw 28vw
    }
    .divider {
        width: 55vw;
        margin: 7vw 1vw 4vw 4vw !important;
    }
}