@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.home {
    color: #e6fdfd;
    background-color: #e6fdfd;
    padding: 190px 0;
    max-height: 1000px;
}

.col {
    margin-top: -150px;
    margin-bottom: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 100%;
    flex-basis: 50%;
}

.heading {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    color: #f7f8fa;
}

.sub-heading {
    max-width: 100%;
    font-size: 18px;
    line-height: 1;
    font-weight: lighter;
    color: #f7f8fa;
}

.dark {
    color: #071B2A;
}

.darkBg {
    background-color: #071B2A;
}

.search-box {
    margin-top: 50px;
    height: 667px;
    border: 1px solid;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 0px 4px 20px 1px #e7e7e7;
}

.subject, .avaliable-time, .grade, .teaching-mode, .cost-per-hour {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: bold;
}

.subject {
    position: absolute;
    top: 272px;
    left: 305px;
}

.avaliable-time {
    position: absolute;
    top: 473px;
    left: 305px;
}

.teaching-mode {
    position: absolute;
    top: 605px;
    left: 305px;
}

.cost-per-hour {
    position: absolute;
    top: 653px;
    left: 850px;
}

.grade {
    position: absolute;
    top: 473px;
    left: 850px;
}

.button-wrapper {
    margin-left: 500px;
    margin-top: 538px;
}


@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}

.subjectobj{
    margin-left: 10px;
}