@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.home {
    color: #e6fdfd;
    background-color: #e6fdfd;
    padding: 190px 0;
    max-height: 1000px;
}

.col {
    margin-bottom: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 1;
    max-width: 100%;
    flex-basis: 50%;
    place-items: center;
}

.heading {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    font-weight: bold;
    color: #f7f8fa;
    padding-bottom: 3vw;
}

.dark {
    color: #071B2A;
}

.darkBg {
    background-color: #071B2A;
}

.search-box {
    height: 58vw;
    border: 1px solid;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 0px 4px 20px 1px #e7e7e7;
    width: 90vw;
    place-content: center;
    margin-left: 4vw;
}

.subject-box {
    display: flex;
    justify-content: space-between;
    padding: 0vw 2vw 2vw 14vw;
    height: 2vw;
    width: 100%;
}

.subject-text{
    max-width: 100%;
    font-size: 1.3vw;
    line-height: 1;
    font-weight: lighter;
    padding: 0vw 21vw 0vw 0vw;
}

.avaliable-time-text {
    max-width: 100%;
    font-size: 1.3vw;
    line-height: 1;
    font-weight: lighter;
    padding: 0vw 20.5vw 0vw 0vw;
}

.time-box {
    display: flex;
    padding: 3vw 2vw 2vw 14vw;
    height: 2vw;
    width: 100%;
}

.mode-box {
    display: flex;
    padding: 3vw 2vw 2vw 14vw;
    height: 2vw;
    width: 100%;
}

.grade {
    padding-right: 38vw;
}

.cost-per-hour {
    padding-right: 32vw;
}

.subject, .avaliable-time, .grade, .teaching-mode, .cost-per-hour {
    font-size: 2vw;
    color: #2C2C2C;
    font-weight: bold;
}

.find-tutor-button-wrapper {
    padding-top: 3vw;
}

@media screen and (max-width: 1315px) {
    .subject-box {
        padding: 4vw 2vw 2vw 14vw;
    }
    .find-tutor-button-wrapper {
        padding-top: 1vw;
    }
    .search-box {
        height: 78vw;
    }
}


@media screen and (max-width: 768px) {
    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}
