.app{
    display : grid;
    place-items : center;
    height: 92vh;
    background-color: #E6FDFD;
    
  }
  
  
  .app__body{
    display: flex;
    background-color: #fafafa;
    height: 80vh;
    margin-top: -40px;
    width: 90vw;
    box-shadow: 0px 12.8781px 25.7561px rgba(41, 41, 42, 0.07);
    border-radius: 10px;
  }